In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
s = pd.Series([7, 'hello', 3.1456, -1234234234, 'Happy Birthday'])

In [7]:
s

0                 7
1             hello
2            3.1456
3       -1234234234
4    Happy Birthday
dtype: object

In [9]:
s[3]

-1234234234

In [17]:
s = pd.Series([7, 8, 3.1456, -1234234234, -14], index = ['A','B','C','D','E'])

In [22]:
s > 0

A     True
B     True
C     True
D    False
E    False
dtype: bool

In [25]:
s + 10

A    1.700000e+01
B    1.800000e+01
C    1.314560e+01
D   -1.234234e+09
E   -4.000000e+00
dtype: float64

In [28]:
data = {'year': [2010, 2011, 2012, 2011, 2012],
        'team': ['Bears', 'Bears', 'Vikings', 'Packers', 'Vikings'],
        'wins': [1, 3, 10, 2, 10]
       }


fb = pd.DataFrame(data, columns=['year', 'team', 'wins'])

fb

   year     team  wins
0  2010    Bears     1
1  2011    Bears     3
2  2012  Vikings    10
3  2011  Packers     2
4  2012  Vikings    10

In [31]:
fb.loc[3]

year       2011
team    Packers
wins          2
Name: 3, dtype: object

In [33]:
fb['wins']

0     1
1     3
2    10
3     2
4    10
Name: wins, dtype: int64

In [35]:
fb.wins

0     1
1     3
2    10
3     2
4    10
Name: wins, dtype: int64

In [36]:
fb.describe()

             year       wins
count     5.00000   5.000000
mean   2011.20000   5.200000
std       0.83666   4.438468
min    2010.00000   1.000000
25%    2011.00000   2.000000
50%    2011.00000   3.000000
75%    2012.00000  10.000000
max    2012.00000  10.000000

In [38]:
fb.wins.describe()

count     5.000000
mean      5.200000
std       4.438468
min       1.000000
25%       2.000000
50%       3.000000
75%      10.000000
max      10.000000
Name: wins, dtype: float64

In [40]:
fb[fb.wins > 9]

   year     team  wins
2  2012  Vikings    10
4  2012  Vikings    10